@mixin top-bar-color-gradient(
  $bg1: #000,
  $bg2: #000
) {
  background: $bg1; /* Old browsers */
  background: -moz-linear-gradient(top, $bg1 0%, $bg2 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, $bg1 0%, $bg2 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, $bg1 0%, $bg2 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$bg1', endColorstr='$bg2', GradientType=0); /* IE6-9 */
  background-size: auto 200%;
  background-position: 0 100%;
  //transition: background-position .5s;
  background-repeat: no-repeat;
}
