
        <!-- MAIN META -->
        [snp tpl="./parts/meta/main.html" autor="{autor}" image="{image}" url="{url}" siteAliase="{siteAliase}" siteName="{siteName}" title="{title}" opgTitle="{opgTitle}" description="{description}"]
        <!-- /MAIN META -->

        <!-- OPEN GRAPH -->
        [snp tpl="./parts/meta/opengraph.html" autor="{autor}" image="{image}" url="{url}" siteAliase="{siteAliase}" siteName="{siteName}" title="{title}" opgTitle="{opgTitle}" description="{description}"]
        <!-- /OPEN GRAPH -->

        <!-- FACEBOOK -->
        [snp tpl="./parts/meta/facebook.html" autor="{autor}" image="{image}" url="{url}" siteAliase="{siteAliase}" siteName="{siteName}" title="{title}" opgTitle="{opgTitle}" description="{description}"]
        <!-- /FACEBOOK -->

        <!-- GOOGLE -->
        [snp tpl="./parts/meta/google.html" autor="{autor}" image="{image}" url="{url}" siteAliase="{siteAliase}" siteName="{siteName}" title="{title}" opgTitle="{opgTitle}" description="{description}"]
        <!-- /GOOGLE -->

        <!-- GOOGLE-PLUS -->
        [snp tpl="./parts/meta/google-plus.html" autor="{autor}" image="{image}" url="{url}" siteAliase="{siteAliase}" siteName="{siteName}" title="{title}" opgTitle="{opgTitle}" description="{description}"]
        <!-- /GOOGLE-PLUS -->

        <!-- TWITTER -->
        [snp tpl="./parts/meta/twitter.html" autor="{autor}" image="{image}" url="{url}" siteAliase="{siteAliase}" siteName="{siteName}" title="{title}" opgTitle="{opgTitle}" description="{description}"]
        <!-- /TWITTER -->

        <!-- FAVICON / TOUCH ICONS -->
        [snp tpl="./parts/meta/favicon.html" version="{version}" appName="{appName}" titleColor="{titleColor}" themeColor="{themeColor}" iosPrefi="{iosPrefi}"]
        <!-- /FAVICON / TOUCH ICONS -->
