
        <meta property="og:type" content="website">
        <meta property="og:url" content="{url}">
        <meta property="og:see_also" content="{siteAliase}"><!-- зеркало сайта -->
        <!--<meta property="og:type" content="product">-->
        <!--<meta property="og:price:currency" content="GBP">-->
        <!--<meta property="og:price:amount" content="19.50">-->
        <meta property="og:site_name" content="{siteName}"><!-- Название сайта -->
        <meta property="og:title" content="{opgTitle}"><!-- заголовок -->
        <meta property="og:description" content="{description}"><!-- описание -->
        <meta property="og:locale" content="ru_RU">
        <meta property="og:image" content="{image}">
