
        <meta name="twitter:card" content="summary"><!-- тип окна summary/product -->
        <meta name="twitter:site" content="nekome.ru/index.html"><!-- страница -->
        <meta name="twitter:title" content="{opgTitle}"><!-- заголовок страницы -->
        <meta name="twitter:description" content="{description}"><!-- описание страницы -->
        <meta name="twitter:creator" content=""><!-- автор -->
        <meta name="twitter:image:src" content="{image}"><!-- изображение для страницы -->
        <meta name="twitter:domain" content="nekome.ru"><!-- сайт -->
