<div class="row expanded callout align-middle">
    <div class="large-4 medium-3 small-6 columns">
        <h3>Столичное Кольцо</h3>
    </div>
    <div class="large-5 medium-5 columns hide-for-small-only">
        <h4 class="show-for-large">Cдадим Вашу квартиру по рыночной цене приличным и надежным жильцам!</h4>
        <!--noindex-->
        <noindex>
            <h5 class="show-for-medium-only">Сдадим Вашу кваритиру за 2 дня платежеспособным клиентам!</h5>
        </noindex>
        <!--/noindex-->
    </div>
    <div class="large-3 medium-4 small-6 columns">
        <h5>+7 (499) 346 75 25</h5>
        г.Москва, ежедневно с 9.00 до 22.00
    </div>
</div>