<!doctype html>
<html class="no-js" lang="en">
    <head>
        [snp tpl="./parts/meta/meta.html"
            autor="Hig"
            image="/img/logo/opg-logo.jpg"
            url="http://site.ru/"
            siteAliase="http://site.ru/"
            siteName="site.ru"
            appName="relty"
            title="Столичное Кольцо – Сдать квартиру"
            opgTitle="Агенство «Столичное Кольцо». Поможет Вам выгодно сдать квартиру."
            description="Сдать квартиру в Москве - легко! Качественно и оперативно! Комиссия 0%, страховка на 250 000 рублей - в подарок!"
            keywords="сдать квартиру в аренду, сдать квартиру в Москве, сдать квартиру, хочу сдать квартиру"
            version="1"
            titleColor="#b91d47"
            themeColor="#ffffff"
            iosPrefi="-precomposed"
        ]
        [snp tpl="./parts/analitycs/ga.html" id="UA-0-0"]
        [snp tpl="./parts/analitycs/ym.html" id="0"]
        <link rel="stylesheet" href="/css/stylesheets.min.css">
        [snp tpl="./parts/meta/iefix.html" class=""]
    </head>
    <body class="page-relty">
        <div class="bg"></div>
        <header>
            [snp tpl="./parts/navigation/nav.html" class=""]
        </header>