[snp tpl="./parts/layout/header.html" class=""]
<div class="expanded row align-center">
    <div class="large-11 medium-11 small-10 columns">
        <h3 class="text-center">Поможем сдать квартиру: Быстро! Выгодно! Бесплатно!</h3>
        <h5 class="text-center">Быстро, юридически грамотно, застраховав вас от неприятностей.</h5>
    </div>
</div>
<div class="row expanded">
    <div class="columns align-self-middle">
        <div class="row align-center">
            <div class="medium-8 small-12 columns">
                <h2 class="text-center">Акция!</h2>
                <h3 class="text-center">Только до 9 ноября!</h3>
                <p>Заполните форму и получите страхование квартиры на сумму до 500 000 рублей в подарок!</p>
                <button class="button small-12">Принять участие!</button>
            </div>
        </div>
    </div>
    <div class="medium-5 large-5 small-12 columns">
        <div class="row align-center">
            <div class="large-10 small-11 callout secondary">
                <form>
                    <div class="row">
                        <div class="small-12 column">
                            <p class="text-center">Оставить заявку</p>
                        </div>
                        <div class="small-12 columns">
                            <label>Как к Вам обращаться?
                                <input type="text" placeholder="Ваше имя">
                            </label>
                        </div>
                        <div class="small-12 columns">
                            <label>Номер телефона:
                                <div class="input-group">
                                    <span class="input-group-label">+7</span>
                                    <input class="input-group-field" type="tel" placeholder="(___)-___-__-__">
                                </div>
                            </label>
                            <button type="submit" class="button small-12" id=""application>Оставить заявку</button>
                        </div>
                        <div class="small-12 column">
                            <p class="help-text" id="application">Мы не передаем Вашу персональную информацию третьим лицам.</p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="row expanded callout secondary align-center">
    <div class="medium-10">
        <div class="row">
            <div class="small-12 medium-6 large-4 columns">
                <div class="row">
                    <div class="small-1 columns align-self-middle text-center">
                        <i class="glyphicons coins"></i>
                    </div>
                    <div class="columns">
                        <p>Для хозяев услуги бесплатны, комиссию платит арендатор.</p>
                    </div>
                </div>
            </div>
            <div class="small-12 medium-6 large-4 columns">
                <div class="row">
                    <div class="small-1 columns align-self-middle text-center">
                        <i class="glyphicons history"></i>
                    </div>
                    <div class="columns">
                        <p>При правильной оценке квартиры, её можно сдать за один день!</p>
                    </div>
                </div>
            </div>
            <div class="small-12 medium-6 large-4 columns">
                <div class="row">
                    <div class="small-1 columns align-self-middle text-center">
                        <i class="glyphicons headset"></i>
                    </div>
                    <div class="columns">
                        <p>Размещаем ваше объявление на 100+ рекламных площадках</p>
                    </div>
                </div>
            </div>
            <div class="small-12 medium-6 large-4 columns">
                <div class="row">
                    <div class="small-1 columns align-self-middle text-center">
                        <i class="glyphicons thumbs_up"></i>
                    </div>
                    <div class="columns">
                        <p>Проверенные жильцы – приличные, надежные и платежеспособные.</p>
                    </div>
                </div>
            </div>
            <div class="small-12 medium-6 large-4 columns">
                <div class="row">
                    <div class="small-1 columns align-self-middle text-center">
                        <i class="glyphicons charts"></i>
                    </div>
                    <div class="columns">
                        <p>Подскажем, как подготовить квартиру, чтобы увеличить доход от сдачи.</p>
                    </div>
                </div>
            </div>
            <div class="small-12 medium-6 large-4 columns">
                <div class="row">
                    <div class="small-1 columns align-self-middle text-center">
                        <i class="glyphicons notes"></i>
                    </div>
                    <div class="columns">
                        <p>Оформляем сделку, избавляем от головной боли с договором и налогами.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row expanded align-center">
    <div class="medium-11">
        <div class="row column">
            <h2 class="text-center">Почему нам доверяют?</h2>
            <h4 class="text-center">6 причин выбрать именно нас</h4>
        </div>
        <div class="row">
            <div class="small-12 medium-6">
                <div class="row">
                    <div class="small-2 columns align-self-middle text-center">
                        <i class="glyphicons clock"></i>
                    </div>
                    <div class="small-10 columns">
                        <h4>Быстрота</h4>
                        <p>У нас собственная база арендаторов. Кроме того, к нам каждый день обращаются десятки граждан, желающих снять квартиру! Мы проводим анализ рынка, чтобы сдать квартиру по максимально быстро и выгодно.</p>
                    </div>
                </div>
            </div>
            <div class="small-12 medium-6">
                <div class="row">
                    <div class="small-2 columns align-self-middle text-center">
                        <i class="glyphicons shield"></i>
                    </div>
                    <div class="small-10 columns">
                        <h4>Конфиденциальность</h4>
                        <p>Мы не разглашаем информацию и не предоставляем договор найма в налоговую инспекцию.</p>
                    </div>
                </div>
            </div>
            <div class="small-12 medium-6">
                <div class="row">
                    <div class="small-2 columns align-self-middle text-center">
                        <i class="glyphicons tie"></i>
                    </div>
                    <div class="small-10 columns">
                        <h4>Юридическое сопровождение</h4>
                        <p>Лучшие юристы Москвы составляют документы по найму жилья. Все расходы, связанные с подготовкой договора найма и оформлением сделки мы берем на себя.</p>
                    </div>
                </div>
            </div>
            <div class="small-12 medium-6">
                <div class="row">
                    <div class="small-2 columns align-self-middle text-center">
                        <i class="glyphicons keys"></i>
                    </div>
                    <div class="small-10 columns">
                        <h4>Надежность</h4>
                        <p>Мы составляем договор таким образом, чтобы защитить интересы собственника, в случае задержки оплаты за аренду и нанесения порчи имущества.</p>
                    </div>
                </div>
            </div>
            <div class="small-12 medium-6">
                <div class="row">
                    <div class="small-2 columns align-self-middle text-center">
                        <i class="glyphicons briefcase"></i>
                    </div>
                    <div class="small-10 columns">
                        <h4>Сопровождение и поддержка на протяжении срока действия договора найма</h4>
                        <p>Вы всегда можете обратиться к нам по любым вопросам, связанным с жильцами. Если Вас не устраивают эти жильцы, то мы их выселим и предложим Вам других.</p>
                    </div>
                </div>
            </div>
            <div class="small-12 medium-6">
                <div class="row">
                    <div class="small-2 columns align-self-middle text-center">
                        <i class="glyphicons bank"></i>
                    </div>
                    <div class="small-10 columns">
                        <h4>Постоянные клиенты</h4>
                        <p>90% владельцев квартир, которым мы помогли надежно и быстро сдать жилье, стали нашими постоянными клиентами на многие годы.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row expanded callout secondary align-center">
    <div class="medium-11">
        <div class="row column">
            <h2 class="text-center">Как мы работаем</h2>
        </div>
        <div class="row">
            <div class="small-12">
                <div class="row align-center text-center">
                    <div class="small-12 medium-5 large-4 columns">
                        <div class="small-12">
                            <i class="fa fa-volume-control-phone"></i>
                        </div>
                        <div class="small-12">
                            <p>Вы обращаетесь в агенство</p>
                        </div>
                    </div>
                    <div class="small-12 medium-5 large-4 columns">
                        <div class="small-12">
                            <i class="fa fa-pencil-square-o"></i>
                        </div>
                        <div class="small-12">
                            <p>Мы составляем подробную заявку</p>
                        </div>
                    </div>
                    <div class="small-12 medium-5 large-4 columns">
                        <div class="small-12">
                            <i class="fa fa-users"></i>
                        </div>
                        <div class="small-12">
                            <p>Мы находим потенциальных арендаторов</p>
                        </div>
                    </div>
                    <div class="small-12 medium-5 large-4 columns">
                        <div class="small-12">
                            <i class="fa fa-home"></i>
                        </div>
                        <div class="small-12">
                            <p>Показ жилья</p>
                        </div>
                    </div>
                    <div class="small-12 medium-5 large-4 columns">
                        <div class="small-12">
                            <i class="fa fa-id-card-o"></i>
                        </div>
                        <div class="small-12">
                            <p>Вселение добропорядочных квартирантов и получение Вами денег</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row expanded align-center">
    <div class="medium-11">
        <div class="row column">
            <h2 class="text-center">Квартиры, которые мы сдали за последние 7 дней</h2>
        </div>
        <div class="row column">
            <div class="media-object stack-for-small">
                <div class="media-object-section small-order-1">
                    <img class="thumbnail" src="http://placehold.it/400x200">
                </div>
                <div class="row media-object-section align-self-middle text-left small-order-2">
                    <div class="columns">
                        <h5>м. Строгино, Однокомнатная кв., 33 м2</h5>
                        <p>Собственнику квартиры поступали постоянные звонки от десятков агентств, но результата не было. Обратившись к нам, он перестал терять время на лишние телефонные переговоры и встречи. На второй день нашей работы мы заключили договор с надежными жильцами, отобрав их из числа потенциальных арендаторов.</p>
                    </div>
                </div>
            </div>
            <div class="media-object stack-for-small">
                <div class="media-object-section small-order-2">
                    <img class="thumbnail" src="http://placehold.it/400x200">
                </div>
                <div class="row media-object-section align-self-middle text-right small-order-1">
                    <div class="columns">
                        <h5>м. Кунцевская, Двухкомнатная кв., 52 м2</h5>
                        <p>Собственник пытался самостоятельно сдать квартиру на протяжении 2-х недель, он регулярно показывал квартиру, но клиенты говорили подумаем и на этом все заканчивалось. Обратившись к нам, мы провели анализ ситуации, дали рекомендацию по уборке квартиры, удалению запахов и приведению ее в товарный вид. После чего квартира была сдана со второго показа.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row expanded callout secondary align-center">
    <div class="row align-center text-center">
        <div class="small-12 medium-4 large-4 columns">
            <div class="small-12">
                30 квартир
            </div>
            <div class="small-12">
                <p>сдано за эту неделю</p>
            </div>
        </div>
        <div class="small-12 medium-4 large-4 columns">
            <div class="small-12">
                602 075 000 <i class="fa fa-rub"></i>
            </div>
            <div class="small-12">
                <p>получили наши клиенты</p>
            </div>
        </div>
        <div class="small-12 medium-4 large-4 columns">
            <div class="small-12">
                61409 квартир
            </div>
            <div class="small-12">
                <p>сдано благодаря нам</p>
            </div>
        </div>
    </div>
</div>
<div class="row expanded">
    <div class="row medium-11 align-center">
        <div class="small-12 columns">
            <h2 class="text-center">Калькулятор стоимости аренды</h2>
        </div>
        <div class="row small-12 medium-11 large-10 align-center">
            <div class="small-12 medium-10 large-9 columns">
                <div class="row">
                    <div class="small-4 medium-5 columns align-self-middle">
                        <label class="row">
                            <div class="row small-2 columns align-self-middle text-right">
                                <i class="fa fa-sort-numeric-desc"></i>
                            </div>
                            <div class="small-10 columns">
                                Количество комнат:
                            </div>
                        </label>
                    </div>
                    <div class="columns">
                        <div class="small secondary expanded button-group">
                            <button type="submit" class="button">1</button>
                            <button type="submit" class="button">2</button>
                            <button type="submit" class="button">3</button>
                            <button type="submit" class="button">4+</button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="small-4 medium-5 columns align-self-middle">
                        <label class="row">
                            <div class="row small-2 columns align-self-middle text-right">
                                <i class="fa fa-clock-o"></i>
                            </div>
                            <div class="small-10 columns">
                                Удаленность от метро:
                            </div>
                        </label>
                    </div>
                    <div class="columns">
                        <div class="small secondary expanded button-group">
                            <button type="submit" class="button">менее 5 минут</button>
                            <button type="submit" class="button">10 минут</button>
                            <button type="submit" class="button">15 и более минут</button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="small-4 medium-5 columns align-self-middle">
                        <label class="row">
                            <div class="row small-2 columns align-self-middle text-right">
                                <i class="glyphicons claw_hammer"></i>
                            </div>
                            <div class="small-10 columns">
                                Количество комнат:
                            </div>
                        </label>
                    </div>
                    <div class="columns">
                        <div class="small secondary expanded button-group">
                            <button type="submit" class="button">без ремонта</button>
                            <button type="submit" class="button">косметический</button>
                            <button type="submit" class="button">евро</button>
                        </div>
                    </div>
                </div>
                <div class="row align-center">
                    <div class="row small-12 align-self-middle align-center">
                        <button type="submit" class="button small-6" id="cost">Узнать цену аренды</button>
                    </div>
                    <div class="small-12">
                        <p class="help-text" id="cost">Указана средняя цена. В зависимости от района и других факторов цена может быть выше. Точную стоимость квартиры поможет определить наш сотрудник. Связаться с сотрудником можно по телефону: 8 (499) 110-17-56 или оставьте заявку.</p>
                    </div>
                    <div class="small-12 medium-10">
                        <label>Номер Вашего телефона:
                            <div class="input-group">
                                <span class="input-group-label">+7</span>
                                <input class="input-group-field" type="tel" placeholder="(___)-___-__-__">
                                <div class="input-group-button">
                                    <input type="submit" class="button" value="Узнать точную цену">
                                </div>
                            </div>
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row expanded callout secondary align-center">
    <div class="row align-center text-center">
        <div class="small-12 medium-4 large-4 columns">
            <div class="small-12">
                30 квартир
            </div>
            <div class="small-12">
                <p>сдано за эту неделю</p>
            </div>
        </div>
        <div class="small-12 medium-4 large-4 columns">
            <div class="small-12">
                602 075 000 <i class="fa fa-rub"></i>
            </div>
            <div class="small-12">
                <p>получили наши клиенты</p>
            </div>
        </div>
        <div class="small-12 medium-4 large-4 columns">
            <div class="small-12">
                61409 квартир
            </div>
            <div class="small-12">
                <p>сдано благодаря нам</p>
            </div>
        </div>
    </div>
</div>
<div class="row expanded align-center">
    <div class="medium-11">
        <div class="row column">
            <h2 class="text-center">Отзывы о нашем агентстве недвижимости</h2>
        </div>
        <div class="row align-center">
            <div class="small-12 medium-6 large-4 columns">
                <div class="row">
                    <div class="small-1 columns align-self-top text-center">
                        <i class="glyphicons user"></i>
                    </div>
                    <div class="columns">
                        <p>Сергей Ганин</p>
                        <p>В квартире заканчивался ремонт через две недели, решил обратиться в агентство АН-ЭТАЛОН, чтобы за это время подыскали мне клиентов. Уже через неделю были клиенты, которые внесли задаток, а сразу по окончании ремонта заключили договор.</p>
                    </div>
                </div>
            </div>
            <div class="small-12 medium-6 large-4 columns">
                <div class="row">
                    <div class="small-1 columns align-self-top text-center">
                        <i class="glyphicons girl"></i>
                    </div>
                    <div class="columns">
                        <p>Анастасия Малуновская</p>
                        <p>Обратилась в агентство АН-ЭТАЛОН, посоветовала подруга, у меня съехали внезапно клиенты и надо было срочно решить этот вопрос. Приехал риелтор,  сфотографировал, а на следующий день привез двух клиентов, одни из них мне понравились, квартиры им тоже, так что вопрос был решен)
                            Так же мне сделали договор, чтобы клиенты предупреждали о съезде с квартиры за месяц, иначе страховой депозит могу не возвращать.</p>
                    </div>
                </div>
            </div>
            <div class="small-12 medium-6 large-4 columns">
                <div class="row">
                    <div class="small-1 columns align-self-top text-center">
                        <i class="glyphicons woman"></i>
                    </div>
                    <div class="columns">
                        <p>Сергей Ганин</p>
                        <p>Квартиру сдавала на Багратионовской, а живу в Красногорске, очень не удобно было заниматься этим вопросом, обратилась в агентство АН-Эталон, приехал риелтор, заключили договор и все вопросы по сдаче квартиры он взял на себя. Подобрал клиентов, провел показы, мне понадобилось приехать только на сделку и получить деньги.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row expanded align-center">
    <div class="medium-11">
        <div class="row column">
            <h2 class="text-center">Карта</h2>
        </div>
        <div class="row">
        </div>
    </div>
</div>



<!--<div class="b_block b_10010" data-id="10010" data-b-id="10">-->
    <!--<div class="container-fluid">-->
        <!--<div class="map_wrap">-->

            <!--<div class="container">-->
                <!--<div class="map_overlay">-->
                    <!--<div class="item_list clear">-->

                        <!--<div class="item clear" data-item-id="1">-->
                            <!--<div class="title">Москва</div>-->
                            <!--<div class="desc"><p>+7 (499) 348-24-35</p><p>Пн.-Вс. с 9.00 до 22.00&nbsp;etalon.arenda@gmail.com<br></p></div>-->
                        <!--</div>-->

                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->


            <!--<div class="map" data-map="{&quot;type&quot;:&quot;yandex&quot;,&quot;center&quot;:[55.738590999994,37.411005],&quot;zoom&quot;:16,&quot;places&quot;:[{&quot;address&quot;:&quot;г.Москва, Ярцевская, 19&quot;,&quot;coords&quot;:[55.738591,37.411005],&quot;color&quot;:&quot;blue&quot;}]}"></div>-->
            <!--<div class="overlay"></div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->



[snp tpl="./parts/layout/footer.html" class=""]